.container {
  background-color: gold;
  width: 100%;
  height: 300px;
}

.section-2 {
  background-color: aquamarine;
  width: 100%;
  height: 200px;
}

.section-3 {
  background-color: aqua;
  width: 100%;
  height: 90px;
}

.section-3 ul {
  list-style: none;
  padding: 0;
}

.container,
.section-2,
.section-3 {
  display: grid;
  place-content: center;
  margin-bottom: 20px;
  text-align: center;
}